.animatedText {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
} 

.animatedText p{
  color: rgb(255, 255, 255);
}

.animatedText h2{
  color: rgb(255, 255, 255);
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 8rem;
  line-height: 0.85;
  
}

@media (max-width: 768px) {
  .animatedText p {
    font-size: 1rem;
    padding: 1rem;
  }

  .animatedText h2 {
    font-size: 4rem;
  }
}




