.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 90%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
  border-radius: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Roboto", sans-serif;;
}

.logo {
  height: 55px;
  width: auto;
  mix-blend-mode: multiply;
}

.nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-right: 2rem;
}

.link {
  font-family: "Roboto", sans-serif;;
  color: var(--blue-dark);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
  text-shadow: none;
  letter-spacing: 5px;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2c5282;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover {
  color: #04062d;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active {
  color: var(--blue-dark);
  font-weight: 600;
}

.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 768px) {
  .header {
    width: 95%;
    height: 50px;
    padding: 0 1rem;
    top: 10px;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }

  .logo {
    height: 30px;
  }

  .nav {
    gap: 1.5rem;
    margin-right: 0;
  }

  .link {
    font-size: 0.9rem;
  }
}