/* ------------------------------------------------------------------
   Google Fonts – titoli in "Playfair Display", testi in "Source Sans Pro"
------------------------------------------------------------------- */
/* Font Imports are now in index.html */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/SourceSansPro-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/SourceSansPro-Regular.otf') format('opentype');
}

/* ------------------------------------------------------------------
   Palette & variabili CSS
------------------------------------------------------------------- */
:root {
  --blue-dark: #04062d;
  --blue-mid:  #0059a3;
  --blue-light:#d4e9ff;
  --white:     #ffffff;
  --gray-dark: #444;
  --shadow:    rgba(0,0,0,.12);
  --cursor-color: rgba(255, 255, 255, 0.342); /* Colore azzurro chiaro per il cursore */

  --font-heading: "Roboto", sans-serif;;
  --font-body:    'Source Sans Pro', sans-serif;
}

/* ------------------------------------------------------------------
   Reset di base + tipografia
------------------------------------------------------------------- */
*,
*::before,
*::after { box-sizing:border-box; margin:0; padding:0; }

html, body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


body{
  font-family:var(--font-body);
  color:var(--gray-dark);
  background:#ffffff;
  line-height:1.6;
  -webkit-font-smoothing:antialiased;
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-heading);
  font-weight:300;
  letter-spacing:.5px;
  font-size: clamp(45px, 10vw, 100px);
}

/* Selettori specifici per titoli più piccoli */
h3, h4, h5, h6 {
  font-size: clamp(25px, 5vw, 45px);
}

/* Cursore personalizzato */
.cursor {
  position: fixed;
  width: 60px;
  height:60px;
  
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s, width 0.2s, height 0.2s;
  background-color: var(--cursor-color);
  mix-blend-mode: normal;
}

a, button, [role="button"], input[type="button"], input[type="submit"] {
  cursor: none;
}

/* ------------------------------------------------------------------
   Utilità rapide
------------------------------------------------------------------- */
.container{
  max-width:1200px;
  margin:0 auto;
  padding:0 1rem;
}

@media (max-width: 768px) {
  .cursor {
    display: none !important;
  }
}
